
.recipes-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recipe-container{
    box-shadow: 15px 20px 25px silver;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255/1);
    gap: 3rem;
}

.recipe-card-img{
    width: 15rem;
    height: 15rem;
    border-radius: 0.6rem 0 0 0.6rem;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.button-container{
    padding: var(--space-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}

.button-container button{
    font-size: var(--font-size-highlighted);
}

@media only screen and (max-width: 768px) {
    .recipe-container {
        flex-direction: column;
        gap: 0;
    }

    .button-container {
        flex-direction: row;
    }

    .recipe-card-title > h1 {
        text-align: center;
    }
}