.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.imageContainer{
    display: flex;
    min-height: 40vw;
}
.mainImage{
    flex: 70%;
}
.rightImages{
    flex: 30%;
}
.mainImage, .rightImages div{
    border-radius: 15px;
    background-color: gray;
    padding: 1rem;
    background-size: cover;
}
.rightImages div {
    margin: 1rem;
    height: 33%;
}

.rightImages{
    display: flex;
    flex-direction: column;
}
.symbolsDifficulty{
    cursor: pointer;
}

.informationContainer{

}