.usermenu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.usermenu-container{
    height: 8rem;
    width: 8rem;
}
@media only screen and (max-width: 768px) {
    .usermenu-container {
        height: 5rem;
        width: 5rem;
    }
}

.user{
    height: 100%;
    border-radius: 100%;
    border: 0.2rem solid var(--border-color);
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.drop-link{
    border-bottom: 0.1rem solid var(--border-color);
    padding: var(--space-2);
}

.hide{
    display: none;
}