.usermenu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.usermenu-container{
    height: 100%;
}

.user{
    height: calc(100% - var(--space-4));
    border-radius: 100%;
    border: 0.2rem solid var(--border-color);
    cursor: pointer;
}

.drop-link{
    border-bottom: 0.1rem solid var(--border-color);
    padding: var(--space-2);
}

.hide{
    display: none;
}