.logo{
    height: 100%;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--border-color);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--navbar-height);
}
@media only screen and (max-width: 768px) {
    .navbar{
        height: var(--navbar-height-mobile);
    }
}