.logo{
    height: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--navbar-height);
    background-color: var(--color-logo);
    box-shadow: 0 0 16px 0 #0003;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding-right: var(--space-2);
}
@media only screen and (max-width: 768px) {
    .navbar{
        height: var(--navbar-height-mobile);
    }
}