.descriptionGrid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 10px 0;
}

.iconContainer{
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.iconDifficulty.inactive {
    color: lightgray;
}

.iconDifficulty.active {
    color: black;
}

.informationContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.ingredientColumnLeft{
    text-align: right;
    min-width: 10rem;
}

.ingredientColumnRight{
    padding: var(--space-1) 0 var(--space-1) 8%;
    width: 100%;
    text-align: left;
}

.ingredientThead{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.ingredientTable{
    height: min-content;
    grid-column: 1;
    border-spacing: 0;
}
.ingredientTable tr:nth-child(odd) {background-color: #edeaea}

.ingredientTable td{
    vertical-align: top;
}


@media screen and (min-width: 961px) {
    .desc-container{
        padding-left: var(--space-3);
    }
}

@media screen and (max-width: 960px) {
    .descriptionGrid{
        grid-template-columns: 1fr;
    }
}