.user{
    height: 30px;
    background-size: cover;
    padding-right: 30px;
    border-radius: 50%;
}

.recipe-card{
     background-color: var(--color-primary);
     box-shadow: 15px 20px 25px silver;
     border-radius: 0.6rem;
     display: inline-flex;
     flex-direction: row;
     width: calc(100%/3 - var(--space-5));
     height: 25rem;
     cursor: pointer;
     transition: all 100ms ease-in-out;
}

.recipe-card:hover{
    transform: scale(0.99, 0.99);
    box-shadow: unset;
    /*transform: scale(1.1, 1.1);*/
}

@media only screen and (max-width: 1023px) {
    .recipe-card{width: calc(100%/2 - var(--space-5));}
}

@media only screen and (max-width: 768px) {
      .recipe-card{width: 100%;}
}

.recipe-card .recipe-card-img{
    border-radius: 0.6rem 0 0 0.6rem;
    width: 50%;
    height:initial;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.recipe-card .recipe-card-infobox{
   margin: var(--space-3) var(--space-2);
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.recipe-card .recipe-card-info{
     display: flex;
     align-items: center;
     margin-bottom: var(--space-2);
}

.recipe-card h3{
    line-height: 1;
    max-height: calc(3* var(--font-size-sub-heading));
    margin: 0;
    margin-bottom: var(--space-2);
    overflow: hidden;
    text-overflow: ellipsis;

}